.top_cast {
  .cast_info {
    .invd_cast {
      display: flex;
      align-items: center;
      justify-content: start;
      text-align: center;
      border-bottom: 1px solid #2f2f2f;
      padding: 5px;
      .cast_avatar {
        img {
          width: 40px;
          border-radius: 50px;
        }
      }
      .cast_info {
        margin-left: 10px;
        .cast_name {
          display: flex;
          align-items: center;
          a {
            color: white;
            text-decoration: none;
            h2 {
              font-size: 1em;
            }
          }
          h3 {
            font-size: 0.9em;
          }
        }
      }
    }
  }
}
