.top_cast {
  .cast_info {
    .invd_cast {
      margin: 10px;
      display: flex;
      border-bottom: 1px solid #2f2f2f;
      .cast_avatar {
        img {
          width: 40px;
          border-radius: 50px;
        }
      }
    }
  }
}
