$base-color: #282727;
.main {
  background-color: $base-color;
  .main_body {
    padding-top: 100px;
    margin-left: 380px;
    margin-right: 380px;
    .movie_info_top {
      display: flex;
      .movie_poster {
        img {
          border: 5px solid white;
          border-radius: 10px;
          width: 262.5px;
        }
      }
      .movie_info {
        margin-left: 31px;
        color: white;
        font-family: "arimo", sans-serif;
        h1 {
          margin-bottom: 20px;
          font-size: 40px;
        }
        h2 {
          margin-bottom: 10px;
          font-size: 20px;
        }
        .like_row {
          display: flex;
          align-items: center;
          span {
            color: #6ac045;
          }
          #like_count {
            margin-left: 37px;
          }
        }
        .rating_row {
          display: flex;
          align-items: center;
          margin-top: 5px;
          .imdb_rating {
            margin-left: 20px;
          }
        }
        .tor_link {
          margin-top: 5px;
          display: flex;
        }
        span.web_info {
          font-size: 75%;
          color: #9c969c;
        }
      }
    }
    .movie_sub_info {
      margin-top: 40px;
      display: flex;
      .plot_summary {
        h2 {
          color: white;
        }
        p {
          color: #9c969c;
        }
      }
      .crew {
        color: white;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .main_body {
      margin-left: 110px;
      margin-right: 110px;
      .movie_info_top {
        .movie_poster {
          img {
            width: 185px;
          }
        }
        .movie_info {
          h1 {
            font-size: 25px;
          }
          h2 {
            font-size: 17px;
          }
        }
      }
    }
  }
}
