.main {
  background-color: #282727;
  .main_body {
    .movie_info_top {
      padding-top: 20%;
      .movie_info {
        z-index: 2;
        background: linear-gradient(rgba(255, 0, 0, 0), rgba(40, 39, 39, 1));
        .movie_info_poster {
          text-align: center;
          img {
            border: 2px solid white;
            border-radius: 8px;
            width: 34%;
          }
        }
        .movie_info_title {
          text-align: center;
          margin-top: 1em;
          h2 {
            color: white;
            font-size: 1.6em;
            font-weight: 100;
            padding-bottom: 6px;
          }
          h3 {
            font-family: "Arimo", sans-serif;
            font-weight: 100;
            font-size: 0.9em;
            color: white;
            padding-bottom: 10px;
          }
        }
        .movie_rating {
          display: flex;
          margin-bottom: 10px;
          justify-content: center;
          color: white;
          a {
            display: flex;
            align-items: center;
          }
          .imdb_rating {
            margin-left: 10px;
            h4 {
              font-weight: 100;
            }
          }
        }
      }
    }
    .movie_downlaod {
      padding-left: 2em;
      padding-right: 2em;
      .movie_download_link {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
    }
    .movie_overview {
      margin: 1.5em;
      .movie_overview_info {
        h2 {
          font-size: 1em;
          color: white;
          font-weight: 100;
        }
        .movie_description_info {
          h3 {
            height: 4.5em;
            overflow: scroll;
            font-size: 0.9em;
            color: #919191;
            font-weight: 100;
            margin-bottom: 0.5em;
            margin-top: 1em;
          }
          h4 {
            font-size: 0.9em;
            font-weight: 100;
            color: white;
          }
          .description_container {
            .description_sub_container {
              h4 {
                display: flex;
                align-items: center;
                h5 {
                  font-size: 1em;
                  font-weight: 100;
                  display: flex;
                  color: #919191;
                  padding-left: 3px;
                }
              }
              h5 {
                font-size: 1em;
                font-weight: 100;
                color: #919191;
              }
            }
          }
        }
      }
    }
    .movie_screenshot_images {
      margin: 1.5em;
      .youtube_trailer {
        iframe {
          width: 100%;
        }
      }
      .movie_images {
        display: flex;
        justify-content: center;
        width: 100%;
        img {
          margin: 0.5em;
          width: 48%;
        }
      }
    }
    .cast {
      color: white;
      margin: 1.5em;
      .top_cast {
        h2 {
          font-size: 1.3em;
          font-weight: 100;
        }
      }
    }
  }
}
