.main {
  background-color: #282727;
  .main_body {
    .movie_info_top {
      .background_image {
        overflow: hidden;
        height: 25em;
        filter: blur(5px);
        -webkit-filter: blur(5px);
      }
      .movie_poster {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 13em;
        background-repeat: no-repeat;
        img {
          border: 5px solid white;
          border-radius: 10px;
          width: 170px;
          height: 260px;
        }
      }
    }
    .movie_info {
      color: white;
      h1 {
        font-size: 1.3em;
      }
      h2 {
        font-size: 1em;
      }
    }
  }
}
