.main-body {
  background-color: #282727;
  padding-top: 50px;
  height: 100%;
  .movie-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card {
      padding: 10px;
    }
  }
}
@media only screen and (min-width: 1000px) {
  .main-body {
    padding-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
  }
}
