.main-body {
  background-color: #282727;
  padding-top: 70px;
  height: 100%;
  .movie-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .card {
      margin: 10px;
    }
  }
}
@media screen and (max-width: 720px) {
  .main-body {
    padding-top: 70px;
  }
}
